
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Multer-File-Upload-Boilerplate</title>
</head>
<body>
    <h1>MULTER File Upload Boilerplate | Single File Upload</h1> 

    <h3>{{status}}</h3>
    <h3>{{filename}}</h3>
    <div id="dvProgressPrcent"></div>
    <div id="dvProgress"></div>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" id="myFile" required />
        <input type="submit" value="Upload" />
    </form>
    
    <script>
      var formData = new FormData();
      document.getElementById('dvProgressPrcent').innerHTML = '';

      var file = document.getElementById('myFile').files[0];
      console.log('file:', file);
      formData.append('myFile', file);
      var xhr = new XMLHttpRequest();

      // your url upload
      xhr.open('post', '/upload', true);

      xhr.upload.onprogress = function(e) {
        if (file && e.lengthComputable) {
            var percentage = (e.loaded / e.total) * 100;
            document.getElementById('dvProgressPrcent').innerHTML = percentage + "%";
            {{!-- document.getElementById('dvProgress').style.width = percentage + '%'; --}}
            console.log(pedatercentage + "%");
        }
      };

      xhr.onerror = function(e) {
        console.log('Error');
        console.log(e);
      };
      xhr.onload = function() {
        console.log(this.statusText);
      };
        
      xhr.addEventListener.
      xhr.send(formData);
    </script>
</body>
</html> 
